@import "tailwindcss";

@theme {
  --color-cyber-black: #0a0a0a;
  --color-cyber-dark: #121212;
  --color-cyber-cyan: #00f3ff;
  --color-cyber-purple: #bd00ff;
  --color-cyber-dim: #1a1a1a;
  --font-mono: "Share Tech Mono", monospace;
  --font-sans: "Inter", sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}